/* Landing.module.css */
.page {
    min-height: 100vh;
    background-color: #f5f0eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}


.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}

.centerText {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-family: serif;
    font-size: 4rem;
    font-weight: normal;
    color: #928a7b;
    margin-bottom: 1rem;
}

.subtitle {
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    color: rgba(146, 138, 123, 0.8);
}

.features {
    display: grid;
    gap: 2rem;
}

@media (min-width: 768px) {
    .features {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 1.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.iconCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    margin-bottom: 0.75rem;
}

.capture {
    background-color: rgba(255, 133, 89, 0.2);
}

.reflect {
    background-color: rgba(6, 148, 148, 0.2);
}

.relive {
    background-color: rgba(192, 150, 230, 0.2);
}

.cardTitle {
    font-family: serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #938976;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2px;
    line-height: 1.3;
}

.cardText {
    font-family: sans-serif;
    line-height: 1.7;
    margin-top: 0.25rem;
    color: #a49a87;
}

.gallery {
    display: grid;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.memoryImg {
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 1rem 2rem;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.getStarted {
    background-color: #da8d72;
    color: rgba(255, 255, 255, 0.9);
}

.getStarted:hover {
    background-color: rgba(218, 141, 114, 0.8);
    transform: scale(1.05);
}

.login {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(146, 138, 123, 0.8);
}

.login:hover {
    background-color: white;
    transform: scale(1.05);
}